.App {
  height: 100vh; /* Ensure the app takes full viewport height */
  overflow: hidden;
}

.App > div.map {
  height: 100%;  /* The map div takes full height of the parent container */
  width: 100%;   /* Also ensure it takes full width */
  z-index: 1;
}

.inputbox {
  display: flex;
  position: absolute;
  z-index: 2;
  width: 500px;
  height: 40px;
  top: 25%;
  left: 50%;
  margin-left: -250px;
}

input {
  width: 90%; 
  font-size: 20px;
  border: 0;
  border-radius: 10px 0 0 10px;
  opacity: 0.8;
}

#enter {
  width: 40px;
  border-radius: 0 10px 10px 0;
  background-color: #CCC;
  color: black;
  border: none;
}

#modalOpen {
  display: flex;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(0, -50%);
  right: 0%;
  width: 20px;
  height: 100px;
  border-radius: 20px 0 0 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: black;
  border: none;
}

.modal {
  display: flex;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  width: 30%;
  height: 100%;
  background: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}
 
 
#closeModal {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0%;
  width: 20px;
  height: 100px;
  border-radius: 0 20px 20px 0;
  background-color: #8c8c8c;
  color: black;
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}