.App {
  height: 100vh; /* Ensure the app takes full viewport height */
  overflow: hidden;
}

.App > div.map {
  height: 100%;  /* The map div takes full height of the parent container */
  width: 100%;   /* Also ensure it takes full width */
  z-index: 1;
}

.inputbox {
  display: flex;
  position: absolute;
  z-index: 2;
  width: 500px;
  height: 40px;
  top: 25%;
  left: 50%;
  margin-left: -250px;
  border: 1px solid black;
  border-radius: 10px;
}


input {
  width: 100%; 
  font-size: 20px;
  border: 0;
  border-radius: 10px 0 0 10px;
  opacity: 0.8;
}

button {
  width: 40px;
  margin: 0;
  border-radius: 0 10px 10px 0;
  background-color: #CCC;
  color: black;
  border: none;
}